
.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    align-items: center;
    width: 100%;
}

.logo {
    height: 55PX;
    width: px;
margin-left: 50PX;
}

.middle-section {
display: flex;
flex-direction: row;
}

.left-section {
    display: flex;
    align-items: center;
    margin-left: 200PX;
    margin-right: 50PX;

}


















.preview {

}

.image {
    width: 200px;
    height: 200px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    padding-left: 100PX;
    
}