a {
    color: rgb(0, 113, 133);

}
a:hover {
    color: red;
}
.hi {
    color: rgb(0, 118, 0);
}
.hey {
    font-weight: bolder;
}
.yo {
    font-weight: 500;
}
.hello {
    border-radius: 12px;
    background-color: rgb(222, 222, 17);
    border: none;
    height: 30px;
    width: 105px;
    margin-right: 8px;
}
.hello:hover {
    background-color: yellowgreen;
    cursor: pointer;
}
.hello:active {
    background-color: aquamarine;
    
}
.hola {
    border-radius: 12px;
    background-color: orange;
    border: none;
    height: 30px;
    width: 105px;
    transition: 0.5 0.15s;
    box-shadow: 5px 5px 10px black;
}
 .hola:hover {
    opacity: 0.5;
    background-color: orangered;
 }
 p {
    margin-top: 30px;
    background-color: yellowgreen;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: small;
width: 400px;
border-radius: 1000PX;
text-align: center;

 }
 .shop-link {
    cursor: pointer;
 }
 .shop-link:hover {
    text-decoration: underline;
 }