header {
    text-align: center;
    background-color: rgb(31, 31, 31);
    color: white;
    margin: 6px;
    padding: 3px;
}
.header {
    background-color: rgb(58, 57, 57);
    margin: 6px;
    padding: 2px;
}
.header li{
    display: inline;
    color: white;
    margin-left: 6px;
}
.main-container {
    border: 5px solid black;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-left: 100PX;
    background-color: rgb(224, 224, 224);  
}

.hello {
    background-color: rgb(212, 212, 212);
    width: 200px;
    height: 150px;
    float: right;
    padding-left: 6px;
    margin-bottom: 30px;
}

footer {
    clear: both;
    text-align: center;
    background-color: rgb(51, 50, 50);
    color: white;
    padding: 8px;
}

