header {
    text-align: center;
    background-color: rgb(1, 1, 71);
    color: white;
    padding-bottom: 1px;
    
height: 40px;
}
header p {
    font-size: 5px;
}

.hi {
    background-color: rgb(2, 2, 90);
padding-top: 2px;
    height: 30px;
}
.hi  li {
    display: inline;
    color: white;
    padding: 1px;
    margin: 50px 50px 200px 150px;
    
}

ul {
    line-height: 3px;
}

.hey {
    background-color: rgb(37, 37, 116);
    color: white;
    padding: 3px;
    text-align: center;
    height: 200px;
}

.hey a {
    height: 70px;
    width: 70px;
    color: black;
    font-size: 20px;
    
    

}

/* Grid Section */
.grid {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px

    
}

/* section  */
.hello {
    padding: 12px;
    background-color:rgb(237, 236, 236);
}
.hello h3 {
    color: rgb(26, 26, 104);
}

.yo  {
    background-color:rgb(237, 236, 236);
    padding: 12px;
}
.yo h3 {
    color: rgb(26, 26, 104);
}

.soy {
    padding: 12px;
    background-color:rgb(237, 236, 236);
}
.soy h3 {
    color: rgb(26, 26, 104);
}

button {
    background-color: yellow;
    padding: 15px;
}

footer {
    background-color: rgb(3, 3, 99);
    color: white;
    text-align: center;
    height: 50px;
    padding: 3px;
}

